body {
    font-family: monospace;
    background-color: rgb(27, 49, 82);
    text-align: center;
}

h1 {
    color: white;
}

.input {
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0 20px;
    outline: none;
    border-radius: 10px;
}

.input:focus {
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    outline: none;
    
}

.boton_agregar {
    outline: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(255, 6, 46);;
}

.boton_agregar:hover {
    opacity: 0.9;
}